@import "./styles/shine.postcss";

@tailwind base;
/* Write your global styles here, in PostCSS syntax */

body {
    font-family: "system-ui", sans-serif;
}

@tailwind components;
@tailwind utilities;
